@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}
body {
  background-color: #171e25;
  color: white;
}
.logo {
  width: 80px;
  height: 20px;
  margin-left: 10px;
  z-index: 15;
}
